<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.video_player_native">

    <!-- Permissão para acesso à Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application>
        <activity
            android:name=".VideoPlayerActivity"
            android:theme="@style/VideoPlayerTheme"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:exported="true"> <!-- Ajuste conforme necessidade -->
        </activity>
    </application>
</manifest>
